:root {
  --clr-body-bg: #151a1f;
  --clr-card-border: #27313a;
  --clr-frame-border: #111217;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

/* general styling */
body {
  background-color: var(--clr-body-bg);

  display: grid;
  place-items: center;
  margin: 1rem;
}

/* card container styling */
.cards {
  --frame-width: 400px;

  --card-gap: 2rem;
  --card-padding: 1rem;

  --container-width: 
    calc(var(--frame-width) * 2.5);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: var(--container-width);
  gap: var(--card-gap);
  list-style: none;
  padding-inline-start: 0;
}

.cards::after {
  content: "";
  width: var(--frame-width);
  aspect-ratio: 1 / 1;
  border: 2px solid var(--clr-body-bg);
  padding: 1rem;
}

.cards li {
  position: relative;
  width: var(--frame-width);
  aspect-ratio: 1 / 1;
  background-color: var(--clr-body-bg);
  border: 2px solid var(--clr-card-border);
  border-radius: 1rem;
  padding: 1rem;
  transition-duration: 200ms;
}

/*.cards li:hover {
  transform: scale(1.1);
  z-index: 1;
}*/

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	/*box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);*/
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* CSSBattle code */
#card1 {
  .frame {
    background: linear-gradient(to top right, #451952, #662549);
  }
  
  .numbers {
    position: relative;
    height: 100px;
    width: 200px;
  
    .number {
      position: absolute;
      box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    }
  
    .one {
      background-color: #F39F5A;
      border-radius: 3px;
    }
  
    .zero {
      height: 54px;
      width: 54px;
      border-radius: 50%;
      border: 24px solid #F39F5A;
    }
  
    .item1 {
      height: 40px;
      width: 20px;
      left: -16px;
      transform: rotate(50deg);
    }
  
    .item2 {
      height: 100px;
      width: 24px;
    }
  
    .item3 {
      z-index: -98;
      left: 17px;
    }
  
    .item4 {
      z-index: -99;
      left: 100px;
    }
  }
  
  & .letters {
    color: #F39F5A;
    font-family: 'Courier New', 'Courier', sans-serif;
    
    .text {
      display: block;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
    }
  
    .big {
      font-size: 82px;
      line-height: 60px;
      margin-top: 6px;
    }
    
    .small {
      font-size: 23px;
      line-height: 20px;
      letter-spacing: 0.05em;
    }
  }
}

#card2 {
  .frame {
    background: #3FAF82;
  }
  
  .menu-icon {
    --line-height: 8px;
    --line-space: 14px;
  
    cursor: pointer;
    width: 80px;
    height: 
      calc(var(--line-height) * 3 + var(--line-space) * 2);
  }
  
  .line {
    --offsetY: calc(var(--line-height) + var(--line-space));
    /*--cubic-bezier-in: cubic-bezier(0.30, 1, 0.70, 1);
    --cubic-bezier-out: cubic-bezier(1, 0.70, 1, 0.30);*/
  
    width: 100%;
    height: var(--line-height);
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
  }
  
  /* elements animation out */
  .line-1 {
    animation: animate-line-1-rev .7s ease-in-out;
  }
  
  .line-2 {
    margin: var(--line-space) 0;
    animation: animate-line-2-rev .7s ease-in-out;
  }
  
  .line-3 {
    animation: animate-line-3-rev .7s ease-in-out;
  }
  
  /* elements animation in */
  .active {

    & .line-1 {
      animation: animate-line-1 .7s forwards;
    }
    
    .line-2 {
      animation: animate-line-2 .7s forwards;
    }
    
    .line-3 {
      animation: animate-line-3 .7s forwards;
    }
  }
  
  .no-animation {
    animation: none !important; 
  }  
}

/* keyframes for #card2 */
/* keyframes animation in */
@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, var(--offsetY), 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, var(--offsetY), 0) rotate(45deg);
  }
}

@keyframes animate-line-2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes animate-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, calc(var(--offsetY) * -1), 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, calc(var(--offsetY) * -1), 0) rotate(135deg);
  }
}

/* keyframes animation out */
@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, var(--offsetY), 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, var(--offsetY), 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes animate-line-3-rev {
  0% {
    transform: translate3d(0, calc(var(--offsetY) * -1), 0) rotate(135deg);
  }
  50% {
    transform: translate3d(0, calc(var(--offsetY) * -1), 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}





